table.mytable {
    width:90%;
}
table.mytable, th.mytable, td.mytable {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}

table th	{
    background-color: black;
    color: white;
}

div {
	marging-left: 20px;
}