<div class="page-header">
<h2>Statistiques de {{model.firstname}}</h2>
</div>
<div>
	<h3>Vélos</h3>
	        {{models-table
            data=bikeContent
            columns=bikeColumns
            useNumericPagination=true
            showColumnsDropdown=false
            pageSize=10
        }}
</div>
<div>
	<h3>Chaussures</h3>
        {{models-table
            data=shoeContent
            columns=shoeColumns
            useNumericPagination=true
            showColumnsDropdown=false
            pageSize=10
        }}
</div>
	